* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

/* Header */
header {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: #333;
}

.container {
  background-color: #f4e34b;
  transform-origin: top left;
  transition: transform 0.5s linear;
}

.container.show-nav {
  transform: rotate(-20deg);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle_container {
  position: absolute;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: yellowgreen;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.circle button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background-color: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

nav {
  position: absolute;
  bottom: 40px;
  left: 0;
  z-index: 999;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #fff;
  margin: 40px 0;
  cursor: pointer;
  transform: translateX(-150%);
  transition: transform 0.4s ease-in;
}

nav ul li:hover {
  color: yellowgreen;
}

nav ul li i {
  font-size: 26px;
  margin-right: 10px;
}

header .content {
  z-index: 99999;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 50px;
}

.container .left {
  margin: 30px;
  flex-basis: 50%;
}

.left h1 {
  font-size: 4rem;
  color: #222;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 30px;
}

.left h1 strong {
  font-size: 4.5rem;
  text-decoration: underline;
}

.left a {
  padding: 10px 30px;
  background-color: yellowgreen;
  color: #fff;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

.content .image {
  max-width: 600px;
}

.cotent .image img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}

/*  Special Items */

.special_items {
  padding: 2% 6%;
}

.special_items h1 {
  width: fit-content;
  font-size: 4rem;
  color: #333;
  text-align: center;
  margin: 5rem auto;
  position: relative;
}

.special_items h1::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -70px;
  background-image: url(./images/underline.svg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.special_items .row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.special_items .item_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title_item,
.img_item {
  flex-basis: 50%;
}

.title_item {
  text-align: center;
  padding: 10px;
}

.title_item h3 {
  font-size: 24px;
  margin-bottom: 20px;
}